name: CI
on:
- push
- pull_request
jobs:
  main:
    strategy:
      matrix:
        os:
        - ubuntu-18.04
        - ubuntu-20.04
        cc:
        - gcc
        - clang
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v2
    - name: run cppcheck
      run: |
        sudo apt-get install cppcheck
        cppcheck --error-exitcode=1 *.c
    - name: check C compiler version
      run: ${{matrix.cc}} --version
    - name: build the exectuable
      run:
        make CC=${{matrix.cc}}
    - name: check the docs
      run:
        make -C doc check
    - name: build the docs
      run:
        make -C doc
    - name: install the program
      run:
        make install PREFIX=~/.local
    - name: check that the executable was installed correctly
      run: |
        cd /
        recidivm -h
    - name: check that the man page was installed correctly
      env:
        MANPATH: /home/runner/.local/share/man
        MANWIDTH: 80
      run: |
        cd /
        man 1 recidivm | grep -A 10 -w RECIDIVM

# vim:ts=2 sts=2 sw=2 et
